.screen {
    flex-grow: 1;
    height: 0;
    
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.headTitle {
    font-size: 30px;
    font-weight: 300;

    margin-bottom: 50px;
}

.opinion {
    margin-top: 50px;
}