$color-background: #1A1A1A;
$color-foreground: #212121;
$color-misExtra: #3E3D3E;
$color-mist: #292929;
$color-textSupporting: #9a9a9a;
$color-textShy: #606260;
$color-text: #D4D4D4;
$color-alert: #D44760;
$color-primary: #3283D5;
$color-success: #41C95F;
$color-idle: #d2832d;
$color-white: #FFFFFF;
