@use '@styles/declare/_declare.scss' as *;

.bg {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    
    background-color: rgba($color: #000000, $alpha: 0.6);

    z-index: 99;
}

.box {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;
    height: auto;
    min-height: 200px;

    padding: 16px 23px;

    border-radius: 10px;
    box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.6);
    
    background-color: $color-foreground;

    display: flex;
    flex-direction: column;

    & > h1 {
        font-size: 30px;
        font-weight: 600;
        color: $color-white;

        // margin-bottom: 0px;
    }

    & > .content {
        color: $color-textSupporting;
        flex-grow: 1;
        font-size: 20px;
    }

    & > .interaction {
        display: flex;
        justify-content: flex-end;
        gap: 0 10px;

        margin-top: 15px;

        & > button {
            font-size: 14px;

            // height: 60px;
            padding: 10px 20px;
                
            font-size: 20px;
            font-weight: 500;
            
            color: $color-white;
            background-color: $color-misExtra;

            border: none;
            border-radius: 5px;
        }
    }
}