.light {
    & > div {
        position: absolute;
        transform: translate(-50%, -50%);

        width: 300px;
        height: 300px;
        border-radius: 50%;
        
        background-color: #41C95F;
        filter: blur(170px);

        &.big {
            top: calc(50% + 50px);
            left: calc(50% + 50px);
        }
        &.small {
            width: 100px;
            height: 100px;

            top: calc(50% - 150px);
            left: calc(50% - 200px);
            
            filter: blur(100px);
        }
    }
}

.screen {
    & > h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: max-content;
        
        font-size: 60px;
        text-shadow: 0 0 20px rgba($color: #ffffff, $alpha: 0.6);
    }
}

.interaction {
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, 0);

    display: flex;
    flex-direction: column;

    align-items: center;

    & > button {
        width: 500px;
        height: 55px;

        font-size: 20px;
        font-weight: 600;
        color: $color-white;

        background-color: $color-misExtra;
        border: none;
        border-radius: 5px;
        
        box-shadow: 0 0 30px rgba($color: #000, $alpha: 0.3);
    }

    & > p {
        color: $color-textSupporting;
        font-size: 18px;

        margin-bottom: 15px;
    }
}